.App {
  background-image: linear-gradient(to bottom, #C7ECFF, #9DCBFF);
  width: 100%;
  height: 100vh;
  overflow: hidden;
  font-family: 'poppins';
}

.scrollable-box::-webkit-scrollbar {
  display: none;
}

.scrollable-box {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.message-feed {
  display: flex;
  flex-direction: column;
  flex: 1;
  row-gap: 5px;
}